<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">


    <bean id="questionDaoBean"
          class="ru.otus.springcource01.dao.QuestionDaoImpl">
        <constructor-arg name="path" value="src\main\resources\questions.csv"/>
    </bean>

    <bean id="resultTestingServiceBean"
          class="ru.otus.springcource01.service.ResultTestingServiceImpl">
    </bean>

    <bean id="startTestingServiceBean"
          class="ru.otus.springcource01.service.StartTestingServiceImpl">
        <constructor-arg ref="questionDaoBean"/>
        <constructor-arg ref="resultTestingServiceBean"/>
    </bean>
    
</beans>